In [ ]:
!pip install pandas

In [67]:
!pip install xlwt

Collecting xlwt
  Downloading https://files.pythonhosted.org/packages/44/48/def306413b25c3d01753603b1a222a011b8621aed27cd7f89cbc27e6b0f4/xlwt-1.3.0-py2.py3-none-any.whl (99kB)
    100% |████████████████████████████████| 102kB 213kB/s a 0:00:01
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0

In [ ]:
import pandas as pd

In [78]:
df = pd.read_excel('123.xls')

In [80]:
df.head()

                                             mail
0              ,,,,,,,,,,,mf08@mail.ru,,,,,,,,,,,
1  ,,,,,,,,,,,f.m.musin@gmail.com,,,,,,,,,,,,,,,,
2                        ,,,,,aasd@asda.ad,,,,,,,
3          ,,,,,,,ererr_rer-wewew@bvbv.ru,,,,,,,,

In [82]:
df['mail'] = df['mail'].str.extract('([A-Za-z0-9.-_]+[@]+[a-z.]+)\,')

In [83]:
df.head()

                  mail
0         mf08@mail.ru
1  f.m.musin@gmail.com
2         aasd@asda.ad
3        wewew@bvbv.ru

In [84]:
df.to_excel("1234.xls")